@font-face {
    font-family: "RobotoSlab";
    src: url(/fonts/RobotoSlab-Regular.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "RobotoSlab";
    font-size: 13px;
    overflow: hidden;
}

#tab-search-input {
    width: 99.5%;
    margin: 0 0.25%;
    padding: 16px 30px 13px 30px;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 25px 25px 0 0;
    font-family: inherit;
    font-size: 20px;
    outline: none;
}

#tab-search-input:focus {
    border-bottom: none;
}



#tab-search-results {
    width: 99.5%;
    max-height: 240px;
    margin: 0 0.25%;
    padding: 0;
    background: #fff;
    border: solid 1px #ccc;
    border-top: none;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    list-style: none;
    overflow: hidden auto;
}

#tab-search-results li {
    margin: 0;
    padding: 13px 22px;
    position: relative;
    text-align: left;
    cursor: pointer;
    border-bottom: solid 1px #ccc;
    outline: none;
}

#tab-search-results li:focus, #tab-search-results li:hover, #tab-search-input:focus ~ #tab-search-results li:first-child {
    background: #eee;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.tab-search-result-index {
    padding-right: 3px;
}

.tab-search-result-favicon {
    width: 16px;
    height: 16px;
    margin: 0 5px -3px 5px;
}

.tab-search-result-title {
    max-width: 50%;
    display: inline-block;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tab-search-result-url {
    max-width: 35%;
    color: #888;
    position: absolute;
    right: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tab-search-result-url:hover {
    max-width: 70%;
    padding-left: 20px;
    font-size: 13px;
    color: #000;
    background: #eee;
}